<h2>Sign up</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: 'form-control'%>

    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control'%>

    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, class: 'form-control'%>

    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control'%>

    <%= f.label :gender %><br />
    <%= f.select :gender, ['Male', 'Female'], class: 'form-control btn btn-default dropdown-toggle'%><br /><br />

    <%= f.label :birth %><br />
    <%= f.date_select :birth, :start_year => 1920, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }, 
        :class => "form-control btn btn-default dropdown-toggle" %>
    <br /><br />

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'%>

    <%= f.submit "Sign up", class: "btn btn-primary", id: "signup" %>

    <% end %>

</div>
</div>
