<%= form_tag search_path, :method => :get do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<div id="facets">
  <h3>Published</h3>
  <ul>
    <% for recipe in @recipes  %>
    <li>
      <strong>
        <%=link_to recipe.name, recipe %>
      </strong>
      <%= recipe.description %>
    </li>
    <% end %>
  </ul>
</div>
