<div class="container">
  <%= form_tag search_path, :method => :get do %>
  <h1> Search </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-addon">
              <span>Name</span>
            </div>
            <%= text_field_tag :name, params[:name], class: "form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-addon">
              <span>Tags</span>
            </div>
            <div class="all-tags">
              <input name="tags" class="form-control" id="searchTag1" value="<%= params[:tags] %>" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-addon">
              <span>Ingredients</span>
            </div>
            <div class="all-ing">
              <input name="searchIng" class="form-control" id="searchIng1" value="<%= params[:searchIng] %>"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-addon">
              <span>Time</span>
            </div>
            <%= number_field_tag(:number, params[:number],:value =>params[:number], in: 0.0..500.0, step: 1, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span>Difficulty</span>
            <%= hidden_field_tag(:difficulty, params[:difficulty], :value => 'Easy', :class => "dif-input") %>
          </div>
          <select class="selectpicker" value="Easy" >
            <option class="sel-difficulty">Easy</option>
            <option class="sel-difficulty">Intermediate</option>
            <option class="sel-difficulty">Hard</option>
          </select>
</div>
          </div>
    </div>
    <div class="col-md-12">
      <div class="btn-search-div">
        <%= submit_tag "Search", :name => nil, :id => "btn-search", class: "btn-std-recipe" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h1>Recipes</h1>
    </div>
    <div class="col-md-12">
      <%= @diff %>
      <ul>
        <% if @recipes.present? %>
        <% @recipes.each do |recipe| %>
        <div id="profile-img-content">
         <%= link_to image_tag(recipe.media, :class => "recipe-image-profile inline-block", :rel => "tooltip", :title => recipe.name), recipe_path(recipe) %>
       </div>
       <% end %>
       <% else %>
       <h3> No results to show </h3>
       <% end %>
     </ul>
   </div>
 </div>
</div>
