<%= form_for @recipe, :remote => true, url: {action: "new"}, :html=> { :'data-type' => 'html',class: "nifty_form", :id => 'create_recipe_form'} do |f| %>
    <%= f.label "Name   " %><br />
    <%= f.text_field :name, :required => true%><br />
    <%= f.label "Description" %><br />
    <%= f.text_area :description, size: "60x12", :required => true %><br />
    <button type="button" id="add_ingredient">Add ingredient</button>
    <button type="button" id="add_step">Add step</button>
    <div class="actions">
      <%= f.submit "Create", :id => 'create' %>
    </div>


<% end %>