<div id="div-ing">
    <% @ingredients.each do |ing| %>

    <div class="btn-group" role="group" aria-label="...">
      <div type="button" class="SIResult btn btn-default" data-name="<%= ing.name %>" id="ing-<%= ing.id %>"><%= ing.name %> (<%= ing.unit %>)</div>
      <input type="number" class="SIResult-quantity btn btn-default" name="ingQuant-<%= ing.id %>" value="100" min="0">
    </div>

    <% end %>
</div>
