
<div id="main-container" class="container">
  <div class="row">
    <div id="recipe-specs" class="col-xs-6">
      <h1> <%= @recipe.name %></h1>
      <img id="recipe-image" src="<%= @recipe.image %>" width="100%"/>
      <div class="row">
        <div id="rating-col" class="col-xs-6">
          <h3>Rating <%= rating_for @recipe, "rating" %></h3>
        </div>
        <div id="bookmark-col" class="col-xs-6">
          <p> <% if current_user %> Bookmark
                <% if @bookmark_visible %>
                    <%= link_to bookmark_recipe_path(@recipe,type: "add"), method: :put, id:'book-btn' do %>
                <span class="fa-stack fa-lg bookmark-recipe-btn" id="bookmark-recipe-btn1">
                  <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-bookmark fa-stack-1x fa-inverse" id="bookmark_ico" ></i>
                </span>
                    <% end %>
                <% else %>
                    <%= link_to bookmark_recipe_path(@recipe,type: "remove"), method: :put, id:'book-btn' do %>
                  <span class="fa-stack fa-lg" id="bookmark-recipe-btn2">
                  <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-times fa-stack-1x fa-inverse" id="bookmark_ico" ></i>
                </span>
                    <% end %>
                <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div id="recipe-content" class="col-xs-6">
      <p><%= @recipe.description %></p>
      <%= link_to "Start cooking", steps_path(params[:id]), class: 'btn btn-success', id:'recipe-btn' %>
    </div>




  </div>

  <br />
  <br />
  <br />
  <br />
  <link type="text/css" rel="stylesheet" href="dreamcodes/comment_boxes/css/tsc_comment_boxes.css" />


  <!-- Comments Form -->
  <div class="well">
    <h4>Leave a Comment:</h4>
    <%= form_for([@recipe, @comment]) do |f| %>
        <div class="form-group">
          <textarea class="form-control" rows="3" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>

  </div>

  <hr>

  <br />

  <% if @comments.present? %>

      <% @comments.each do |comment|
        user=User.find(comment.user_id)%>

          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-circle avatar avatar-original" style="-webkit-user-select:none;
                      display:block; margin:auto;" src="http://cdn.overclock.net/a/a0/120x120px-LS-a0ae1256_avatar95329_4.jpeg"  alt="">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><legend> <%= link_to user.username, userpage_path(comment.user_id) %> said:</legend>

              </h4>
              <%= comment.comment_text %>
              <h4 class="media-heading pull-right"><small> <%= comment.created_at.strftime("%B %d, %Y, %A, %H:%M:%S") %> </small></h4>
            </div>
          </div>

      <% end %>

  <% end %>




</div>