<div class="container">
  <div id="recipe-content">
    <div class="row">
      <div class="col-md-12">
        <h1> <%= @recipe.name %></h1>
        <hr/>
      </div>
    </div>
    <div class="row vdivide">
     <div class="col-md-6">
        <%= image_tag(@recipe.media, :class => "recipe-image", :style => "") %>
      <div class="row">
        <div class="col-md-7 share-btns">
          <div class="social-share-button" data-title="<%= @recipe.name %>" data-img="" data-url="<%=request.original_url%>" data-desc="" data-popup="" data-via="">
          <a rel="nofollow " data-site="twitter" class="btn btn-info" onclick="return SocialShareButton.share(this);" title="Share to Twitter" href="#">Twitter <i class="glyphicon glyphicon-play"></i></a>
          <a rel="nofollow " data-site="facebook" class="btn btn-primary" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#">Facebook <i class="glyphicon glyphicon-play"></i></a>
          <a rel="nofollow " data-site="google_plus" class="btn btn-danger" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">Google <i class="glyphicon glyphicon-play"></i></a>
        </div>
        </div>
        <div id="recipe-owner-opt" class="col-md-5">
         <% if current_user.id==@author.id %>
         <%= link_to "Edit", edit_recipe_path(params[:id]), class: 'btn btn-success', id:'edit-recipe'%>
         <%= link_to "Remove", @recipe, :method => :delete, class: 'btn btn-success', id:'remove-recipe'%>
         <% end %>
       </div>
     </div>
     <div class="row">
      <div class="col-md-12">
        <div id="rating">
          <p id="rating-title">Rate this recipe! <%= rating_for @recipe, "rating" %></p>
        </div>
        <div id="bookmark">
          <p> <% if current_user %>
            Bookmark
            <% if @bookmark_visible %>
            <%= link_to bookmark_recipe_path(@recipe,type: "add"), method: :put, id:'book-btn' do %>
            <span class="fa-stack fa-lg bookmark-recipe-btn" id="bookmark-recipe-btn1">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-bookmark fa-stack-1x fa-inverse" id="bookmark_ico" ></i>
            </span>
            <% end %>
            <% else %>
            <%= link_to bookmark_recipe_path(@recipe,type: "remove"), method: :put, id:'book-btn' do %>
            <span class="fa-stack fa-lg" id="bookmark-recipe-btn2">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-times fa-stack-1x fa-inverse" id="bookmark_ico" ></i>
            </span>
            <% end %>
            <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Start cooking", steps_path(params[:id]), class: 'btn-std-recipe' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h1> Info </h1>
      <div class="col-md-4 recipe-specs">
        <i class="glyphicon glyphicon-time" rel="tooltip" title="Aprox. Time"></i><br/>
        <p> <%= @recipe.time %> </p>
      </div>
      <div class="col-md-4 recipe-specs">
        <i class="fa fa-cutlery" rel="tooltip" title="Portions"></i>
        <p> <%= @recipe.portions %> </p>
      </div>
      <div class="col-md-4 recipe-specs">
        <i class="fa fa-balance-scale" rel="tooltip" title="Calories"></i>
        <p> <%= @rCalories %> </p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <h1> About </h1>
      <p style="text-align: justify; padding-left: 30px;"><%= @recipe.description %></p>
    </div>
    <hr/>
    <div class="row">
      <h1> Ingredients </h1>
      <div id="ingredient-list">
        <% @ingredients.each do |ingr| %>
        <li><%= ingr.name %> <%= IngredientRecipeAssociation.where("recipe_id = ? and ingredient_id = ?", @recipe.id, ingr.id).first.quantity %><%= ingr.unit %> </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<hr/>
<div id="createdby" class="panel panel-default">
  <div class="panel-body">
    <% if @author.fbtoken.nil? %>
      <legend> Created by: <%= link_to @author.username, userpage_path(@author.id) %> </legend>
    <%else%>
      <legend> Created by: <%= link_to @author.name, userpage_path(@author.id) %> </legend>
    <%end%>
    <div class="tags">
      <% @tags.each do |t| %>
      <a href="../search?utf8=✓&name=&tags[]=<%= t.name %>&searchIng[]=&number=60"> <%= t.name %></a>
      <% end %>

    </div>
  </div>
</div>
<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Reviews</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Suggestions</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Tips</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Photos</label>

  <section id="content1">
    <div class="well">
      <h4>Leave a review:</h4>
      <%= form_for([@recipe, @comment]) do |f| %>
      <div class="btn btn-default open_modal" data-toggle="modal" data-target="#Modal-1" id ="-1" >Add Instagram content</div>
      <input type="text" class="form-control" placeholder="Image URL" name="media" id= "SM_-1"/>
      <div class="modal fade" id="Modal-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select a photo</h4>
            </div>
            <div class="modal-body">
              <div class="row" id="modal-body_-1">
                <div id="modal_-1"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" name="text"></textarea>
      </div>
      <input id="tags_list" name="typecom" type="hidden" value="Review" />
      <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>

    </div>

    <hr>

    <br />

    <% if @reviews.present? %>


    <% @reviews.each do |review|
      user=User.find(review.user_id)%>

      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle avatar avatar-original" style="-webkit-user-select:none;
          display:block; margin:auto;" src="http://swantoon.com/attachments/Image/placeholder-photo.png"  alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><legend> <%= link_to user.username, userpage_path(review.user_id) %> said:</legend>

          </h4>

          <div class="btn btn-default" data-toggle="modal" data-target="#review<%= review.id%>" id ="-1" >View media content</div>
          <div class="modal fade" id="review<%= review.id %>" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag(review.media, :class => "", :style => "max-width:100%;max-height:100%;") %>
                </div>
              </div>
            </div>
          </div>

          <div class="bubble">

            <p><%= review.comment_text %></p>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="commentstats">
                <ul class=>
                  <li>
                    <div id="rating-col" class="media pull-left ">
                      <h4 class="media-heading "><small> Rating: <%= rating_for Comment.find(review.id), "points" %></small></h4>
                    </div>
                  </li>
                  <li>
                    <h4 class="media-heading pull-right"><small> <%= review.created_at.strftime("%B %d, %Y, %H:%M:%S") %> </small></h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>

      </div>
      <br/>

      <% end %>
      <% end %>
  </section>
  <section id="content2">
      <div class="well">
        <h4>Leave a suggestion:</h4>
        <%= form_for([@recipe, @comment]) do |f| %>
        <div class="btn btn-default open_modal" data-toggle="modal" data-target="#Modal-2" id ="-2" >Add Instagram content</div>
        <input type="text" class="form-control" placeholder="Image URL" name="media" id= "SM_-2"/>
        <div class="modal fade" id="Modal-2" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Select a photo</h4>
              </div>
              <div class="modal-body">
                <div class="row" id="modal-body_-2">
                  <div id="modal_-2"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" name="text"></textarea>
        </div>
        <input id="tags_list" name="typecom" type="hidden" value="Suggestion" />
        <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
      </div>
      <hr>

      <br />

      <% if @suggestions.present? %>

      <% @suggestions.each do |suggestion|
        user=User.find(suggestion.user_id)%>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object img-circle avatar avatar-original" style="-webkit-user-select:none;
            display:block; margin:auto;" src="http://swantoon.com/attachments/Image/placeholder-photo.png"  alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><legend> <%= link_to user.username, userpage_path(suggestion.user_id) %> said:</legend>

            </h4>

            <div class="btn btn-default" data-toggle="modal" data-target="#suggestion<%= suggestion.id%>" id ="-1" >View media content</div>
            <div class="modal fade" id="suggestion<%= suggestion.id %>" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <%= image_tag(suggestion.media, :class => "", :style => "max-width:100%;max-height:100%;") %>
                  </div>
                </div>
              </div>
            </div>
            <div class="bubble">
              <p><%= suggestion.comment_text %></p>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="commentstats">
                  <ul class=>
                    <li>
                      <div id="rating-col" class="media pull-left ">
                        <h4 class="media-heading "><small> Rating: <%= rating_for Comment.find(suggestion.id), "points" %></small></h4>
                      </div>
                    </li>
                    <li>
                      <h4 class="media-heading pull-right"><small> <%= suggestion.created_at.strftime("%B %d, %Y, %H:%M:%S") %> </small></h4>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% end %>

        <% end %>
      </section>

      <section id="content3">
        <div class="well">
          <h4>Leave a tip:</h4>
          <%= form_for([@recipe, @comment]) do |f| %>
          <div class="btn btn-default open_modal" data-toggle="modal" data-target="#Modal-3" id ="-3" >Add Instagram content</div>
          <input type="text" class="form-control" placeholder="Image URL" name="media" id= "SM_-3"/>
          <div class="modal fade" id="Modal-3" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Select a photo</h4>
                </div>
                <div class="modal-body">
                  <div class="row" id="modal-body_-3">
                    <div id="modal_-3"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" name="text"></textarea>
          </div>
          <input id="tags_list" name="typecom" type="hidden" value="Tip" />
          <button type="submit" class="btn btn-primary">Submit</button>
          <% end %>

        </div>

        <hr>

        <br />

        <% if @tips.present? %>


        <% @tips.each do |tip|
          user=User.find(tip.user_id)%>

          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="http://swantoon.com/attachments/Image/placeholder-photo.png"  alt="">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><legend> <%= link_to user.username, userpage_path(tip.user_id) %> said:</legend>

              </h4>
              <div class="btn btn-default" data-toggle="modal" data-target="#tip<%= tip.id%>" id ="-1" >View media content</div>
              <div class="modal fade" id="tip<%= tip.id %>" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <%= image_tag(tip.media, :class => "", :style => "max-width:100%;max-height:100%;") %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bubble">
                <p><%= tip.comment_text %></p>
              </div>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="commentstats">
                    <ul class=>
                      <li>
                        <div id="rating-col" class="media pull-left ">
                          <h4 class="media-heading "><small> Rating: <%= rating_for Comment.find(tip.id), "points" %></small></h4>
                        </div>
                      </li>
                      <li>
                        <h4 class="media-heading pull-right"><small> <%= tip.created_at.strftime("%B %d, %Y, %H:%M:%S") %> </small></h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% end %>

          <% end %>

        </section>

        
      </main>
  </div>
