<div class="bookmarks_region" >
<ul class="rig">
    <% @bookmarks.each do |bookmark| %>
      <%= link_to recipe_path(bookmark.id),id:'book-btn' do %>

          <li>
            <img src=<%= bookmark.image %> alt="recipes">
          <legend><%= bookmark.name %></legend>
            <p><%= bookmark.description %></p>
            <p><b>Created by: </b> <%=  User.find(bookmark.user_id).name %> </p>
            <p>
              <%= rating_for bookmark, "rating" %>
            </p>
          </li>

      <% end %>
    <% end %>
</ul >
</div>
