<div class="bookmarks_region" >
<ul class="rig">
  <% if @bookmarks.count>0 %>
    <% @bookmarks.each do |bookmark| %>
      <%= link_to recipe_path(bookmark.id),id:'book-btn' do %>

          <li>
            <%= image_tag(bookmark.media, :class => "recipe-step-image", :style =>"") %>
          <legend><%= bookmark.name  %></legend>
            <p><%= bookmark.description %></p>
            <p><b>Created by: </b> <%=  User.find(bookmark.user_id).name %> </p>
            <p>
              <%= rating_for bookmark, "rating" %>
            </p>
          </li>

      <% end %>
    <% end %>
  <% else %>
      <% flash[:alert] = "This user didn't add any bookmarks yet." %>
  <% end %>
</ul >
</div>
