<% if current_user %>

<div class="container">
<table style="width:100%;table-layout: fixed;">
  <tr>
	<% @categories.each do |category| %>
    <td><a class="list-group-item cat_name" href="/category/<%=category.id%>" style="text-align:center"><%=category.name%></a></td>
    <% end %>
  </tr>
</table>
</div>

<div class ='list-group col-md-8 col-md-offset-3'>
	<div class="container-feed row cold-md">
		<% for activity in @activities %>
			<div class="col-md-8 center" style="margin-top: 30px">
				<% if activity['verb'] == 'Recipe' %>
					<%= link_to activity['actor'].slug , activity['actor'] %>
					<%= " create a new recipe called \'"  %>
					<%= link_to activity['object'].name , activity['object']%>
					<%= "\'" %>
					<div class="thumbnail">
						<%= image_tag(activity['object'].media, :class => "recipe-step-image", :style =>"") %>
					</div>
				<% end %>
				<% if activity['verb'] == 'Follow' %>
					<%= link_to activity['actor'].slug , activity['actor'] %>
					<%= " followed  "  %>
					<%= link_to activity['object'].slug , activity['object']%>
				<% end %>
				<% if activity['verb'] == 'Comment' %>
					<%= link_to activity['actor'].slug , activity['actor'] %>
					<%= " commented " %>
					<%= link_to activity['object'].recipe.user.slug , activity['object'].recipe.user%>
					<%="\'s recipe : \'" %>
					<%= link_to activity['object'].recipe.name , activity['object'].recipe %>
					<%= " \'" %>
					<div class="thumbnail">
						<%= image_tag(activity['object'].recipe.media, :class => "recipe-step-image", :style =>"") %>
					</div>
				<% end %>
				<% if activity['verb'] == 'Bookmark' %>
					<%= link_to activity['actor'].slug , activity['actor'] %>
					<%= " bookmarked the recipe \'"  %>
					<%= link_to activity['object'].name , activity['object']%>
					<%= "\'" %>
					<div class="thumbnail">
						<%= image_tag(activity['object'].media, :class => "recipe-step-image", :style =>"") %>
					</div>
				<% end %>
				<%= time_ago_in_words(activity['object'].created_at)  + " ago"%>
				<br>
			</div>
		<% end %>
	</div>
</div>
<% else %>

<div class="container" style="margin-top:13%">
<header>
    <div class="header-content">
        <div class="header-content-inner" style="text-align: center">
        	<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
			            <h1 style="color:black;">Welcome to Instachef</h1>
			            <hr>
			            <h4>Create recipes, search for new ones, follow other chefs and rate their cooking</h4>
			  			<a href="users/sign_in" class="btn btn-primary">Login</a>
			            <a href="users/sign_up" class="btn btn-primary">Sign Up</a>
					</div>
					<div class="col-md-8">

					 	<img src="http://3.bp.blogspot.com/-t2oHia0szDg/USKW73nYvvI/AAAAAAAAJsQ/pbDfzxQTzSE/s1600/reddit-mcdonalds-salad-blog.png">
		 			</div>
		 		</div>
		 	</div>
        </div>
    </div>
</header>
</div>
<% end %>
