<!DOCTYPE html>
<html>
<head>
  <title>LDSO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<header class="navbar navbar-inverse">
      <div class="container">
        <%= link_to "InstaChef", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.name %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %><li>
              <li><%= link_to "Register", new_user_registration_path %></li>
           <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>
<div class="push"> </div>
</div>
<footer>
<p class="footerInfo"> © 2015 INSTACHEF </p>
</footer>

</body>
</html>
